body{
    margin: 0px;
}

#wrapper{
    width: 100%;
}

#topheader{
    background-color: blue;
    font-family: "open sans",sans-serif;
    font-size: 15pt;
    padding: 10px 20px 10px 20px;
    height: 25px;
}

#topheader .name{
    float: left
}

#topheader .xp{
    float: right
}
.getal{
    color: purple;
    font-size: 20px;
}
.xp{
    font-size: 15px;
}
body {
    background-image: url(https://cdn.discordapp.com/attachments/544505134063943701/810811382206431282/heide.jpg);
    background-repeat: no-repeat;
    background-position: 0px -50px;
  }
#startOmmetje .startKnop {
    background-color: rgb(148, 12, 148);
    color: white;
    border-radius: 25px;
    margin: 10px;
    position: absolute;
    left: 30%;
    top: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#startOmmetje .m20 {
    font-size: 20px;
}

#startOmmetje .timer {
    font-family: "Mont", sans-serif;
    position: relative;
    top: -810px;
    padding-left: 15px;
}

.hoofd{
    position: absolute;
    bottom:0;
    width:100%;
}
.center{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}